test-python/langchain/my_config.py
.env
.venv
test-python/stock_crew/__pycache__/agents.cpython-312.pyc
test-python/stock_crew/__pycache__/tasks.cpython-312.pyc
test-python/stock_crew/tools/__pycache__/search.cpython-312.pyc
test-python/langchain/image_caption_tools/__pycache__/image_caption_tool.cpython-312.pyc
test-python/video_script_generator/__pycache__/utils.cpython-312.pyc
.DS_Store
stock_crew/__pycache__/agents.cpython-312.pyc
stock_crew/__pycache__/tasks.cpython-312.pyc
stock_crew/tools/__pycache__/search.cpython-312.pyc
video_script_generator/__pycache__/utils.cpython-312.pyc
.DS_Store
xiaohongshu_generator/__pycache__/prompt_template.cpython-312.pyc
xiaohongshu_generator/__pycache__/utils.cpython-312.pyc
xiaohongshu_generator/__pycache__/xiaohongshu_model.cpython-312.pyc
.DS_Store
csv_analyzer/__pycache__/utils.cpython-312.pyc
cloned_chatgpt/__pycache__/utils.cpython-312.pyc
commons/__pycache__/__init__.cpython-312.pyc
commons/__pycache__/sidebar.cpython-312.pyc
cloned_chatgpt/__pycache__/init_path.cpython-312.pyc
pdf_qa_tool/__pycache__
/temp.pdf
